body{
    background:rgb(133, 212, 133);

}
header{
    text-align:center;
    font-size:50px;
    font-family: 'Mukta', sans-serif;
    font-weight:1000;
    
}
input, button{
    margin:10px auto;
    display:flex;

}
p{
    font-family: 'Mukta', sans-serif;
    text-align:center;
}
#register{
    display:none;
}
