:root {
    --green: #a7d86d;
    --white: #ffffff; 
  }


#camera-display {
    position: absolute;
    width: 640px;
    height: 380px;
    border: 2px solid --green;
}
#canvas {
    position: absolute;
}
