<!DOCTYPE html>
<html>
    <head>

        <title>Scanner</title>

        <link href="../assets/css/style.css" type="text/css" rel="stylesheet"/>
        <script src="../assets/js/quagga.js"></script>
        <script src="../assets/js/request.js"></script>
        <script src="../assets/js/camera.js"></script>

    </head>
    <body>
        <div class="camera-cont">
            <div id="video"></div>
            <canvas id="canvas"></canvas>
        </div>
        <div class="info-cont">
            <h1 id="upc">upc here</h1>
        </div>
    </body>
</html>
