<!DOCTYPE html>
<html>
    <head>
        <title>Scanner</title>
        <link rel="stylesheet" href="{{ url_for('assets', path='css/colors.css')}}">
        <link rel="stylesheet" href="{{ url_for('assets', path='css/style.css')}}">

        
        <script src="{{ url_for('assets', path='/js/quagga.js')}}" rel="script"></script>
        <script src="{{ url_for('assets', path='/js/request.js')}}" rel="script"></script>
        <script src="{{ url_for('assets', path='/js/display.js')}}" rel="script"></script>
        <script src="{{ url_for('assets', path='/js/camera.js')}}" rel="script"></script>

    </head>
    <body>
        <div class="cont camera-cont">
            <div id="video">
                <canvas id="canvas"></canvas>
            </div>
        </div>
        <div class="cont info-cont">
            <span id="prod-name">Product Name</span>
            <br/>
            <span id="upc">Universal Product Code</span>
            <br/>
            <!-- <img id="img"/> -->
            <br/>
            <span class="label">Material:</span>
            <span id="prod-type">Primary Material</span>
            <br/>
            <span class="label">Footprint:</span>
            <span id="footprint">Negative Impact</span>
            <br/>
            <span class="label">Disposal Instructions:</span><br/>
            <span id="instructions">Instructions</span>
            <br/><br/>
            <button onclick="retry();">Retry Scanning</button>
        </div>
    </body>
</html>
