<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="loginStyle.css">
    <title>Login</title>
</head>

<body>
    <div id="login">
        <form class="user" action="/login" enctype="multipart/form-data" method="post">
            <input class="form-control form-control-user mb-md-3" type="text" id="email" placeholder="Email"
                name="email" required>
            <input class="form-control form-control-user" type="password" id="password" placeholder="Password"
                name="password" required>
            <button class="btn btn-primary d-block btn-user w-100" type="submit">Login</button>
        </form>
    </div>
    <div id="register">
        <p>Dont have an account, Sign Up</p>
        <form class="user" action="/register" enctype="multipart/form-data" method="post">
            <input class="form-control form-control-user mb-md-3" type="text" id="name" placeholder="Name" name="name"
                required>
            <input class="form-control form-control-user mb-md-3" type="email" id="email" placeholder="Email"
                name="email" required>
            <input class="form-control form-control-user" type="password" id="password" placeholder="Password"
                name="password" required>
            <button class="btn btn-primary d-block btn-user w-100" type="submit">Finish Sign Up</button>
    </div>
    </form>
</body>

</html>